{% extends "body.html" %}
{% block contenido %}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-search"></i>
            {{ title}}
        </h3>
    </div>
    <table class="table">
        <thead>
            {% block columnas %}
            <thead>


            </thead>
            {% endblock %}
        </thead>

        <tbody>
            {% block rows %}
            <tr>

                
            </tr>

            
            {% endblock %}
        </tbody>
    </table>
    <!-- /.card-body -->
</div>

{% endblock %}